/* Sticky footer styles -------------------------------------------------- */
html, body {
	height: 100%;
	font-family: 'Century Gothic','Open Sans', sans-serif;
	/* The html and body elements cannot have any padding or margin. */
}
body.page-template-page-home-v2-php {
	background-image: url('../../images/bg_home.jpg');
	background-repeat: no-repeat;
	
	background-position:center top; 
}
:focus { outline: 0; }
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -120px;
}
a {
	color:#8ab45c;
	font-weight:bold;
}
a:hover, a:focus {
	color: #007ab4;
	text-decoration:none;
}
a.accordion-toggle {
	text-decoration:none;
	font-weight: normal;
	color:#231f20;
}
a.accordion-toggle:hover, a.accordion-toggle:hover {
	text-decoration:none;
	color: #007ab4;
}
::selection {
	background: #d6eed1; /* Safari */
	outline: 0;
	}
::-moz-selection {
	background: #d6eed1; /* Firefox */
	outline: 0;
}
#menu-footer-menu.inline > li {
	padding-left: 0px;
}
.nav-side > .nav-list {
	height:349px;
}
.nav-list {
	padding-top: 30px;
}
.nav-side .nav-list {
	background-color: #fff;
}
.nav-list > li > a {
	padding: 20px 2px 18px 28px;
	font-size:13px;
	outline: none;
	color:#231f20;
	font-weight: normal;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #fff;
	color:#007ab4;
}
.nav-list > .current-page-parent > a, .nav-list > .current-page-parent > a:hover, .nav-list > .current-page-parent > a:focus, .nav-list > .current-menu-item > a, .nav-list > .current-menu-item > a:hover, .nav-list > .current-menu-item > a:focus {
	color: #007ab4;
	font-weight:700;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
	background: url('../../images/bg_nav_active.jpg') no-repeat;
}
.dropdown-menu > li > a {
	font-size:12px;
}
.nav .active .dropdown-toggle .caret {
	border-top-color: #007ab4;
	border-bottom-color: #007ab4;
}
.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret {
	border-top-color: #007ab4;
	border-bottom-color: #007ab4;
	opacity: 1;
	filter: alpha(opacity=100);
}
.dropdown-menu > .current-menu-item > a, .dropdown-menu > .current-menu-item > a:hover, .dropdown-menu > .current-menu-item > a:focus {
	color: white;
	text-decoration: none;
	background-color: #0081C2;
	background-image: -moz-linear-gradient(top, #08C, #0077B3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#0077B3));
	background-image: -webkit-linear-gradient(top, #08C, #0077B3);
	background-image: -o-linear-gradient(top, #08C, #0077B3);
	background-image: linear-gradient(to bottom, #08C, #0077B3);
	background-repeat: repeat-x;
	outline: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F08cc', endColorstr='#F07b3', GradientType=0);
}
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
	color: #007ab4;
	background-color: #fff;
	border-color: #fff;
}
.poweredby {
	margin:20px 0 12px 80px;
}
ol.rounded-list {
	counter-reset: li;
	list-style: none;
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	padding: 0;
	margin-bottom: 4em;
}
ol.rounded-list ol{
	margin: 0 0 0 2em; 
}
.rounded-list a{
	position: relative;
	display: block;
	padding: .4em .4em .4em 1em;
	*padding: .4em;
	margin: .5em 0;
	background: transparent;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;	
	font-size: 13px;
	font-weight: normal;
}
.rounded-list a:hover{
	cursor: default;
}
.rounded-list a:hover:before{
    transform: rotate(360deg);	
}
.rounded-list a:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 1em;
	margin-top: -.8em;
	background: #fff;
	height: 1.4em;
	width: 1.4em;
	line-height: 1.4em;
	border: .2em solid #981b1f;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: .5em;
	transition: all .3s ease-out;
}
/* Set the fixed height of the footer here */
#push, #footer {
	min-height: 120px;
}
#footer {
	background-color: #bcbec0;
	color: #4d4d4f;
	font-size:10px;
}
#footer a {
	color: #4d4d4f;
}
#footer p {
	margin:32px 6px;
}
#footer ul {
	margin:28px 6px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
/* Custom page CSS -------------------------------------------------- */
/* Not required for template or sticky footer method. */
.block1 {
	margin-top:12px;margin-left:0px;
	text-align:center;
}
.content-top {
	height:38px;
	background: url('../../images/content_bg_top.gif') repeat-x;
}
.content-holder {
	border-left: 1px solid #a5d0e4;
	border-right: 1px solid #a5d0e4;
}
.content-holder-sub2 {
	margin:-10px 0 0 -20px;
}
.nav-top {
	height:38px;
	background-image: url('../../images/bg_nav_top_220.gif'); 
	background-repeat: no-repeat;
}
.nav-bottom {
	height:38px;
	background-image: url('../../images/bg_nav_bottom_220.gif'); 
	background-repeat: no-repeat;
}
.nav-top-home {
	height:38px;
	background-image: url('../../images/bg_nav_top_home.gif'); 
	background-repeat: repeat-x;
}
.nav-bottom-home {
	height:38px;
	background-image: url('../../images/bg_nav_bottom_home.gif'); 
	background-repeat: repeat-x;
}
.btn-primary {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #9fcf68;
	background-image: -moz-linear-gradient(top, #a2d990, #70ce7c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2d990), to(#70ce7c));
	background-image: -webkit-linear-gradient(top, #a2d990, #70ce7c);
	background-image: -o-linear-gradient(top, #a2d990, #70ce7c);
	background-image: linear-gradient(to bottom, #a2d990, #70ce7c);
	background-repeat: repeat-x;
	border-color: #04C #04C #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F08cc', endColorstr='#F04cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	  color: #ffffff;
	  background-color: #70ce7c;
	  *background-color: #a2d990;
}
.btn-primary:active, .btn-primary.active {
	  background-color: #80a05c \9;
}
.container .credit {
	margin: 20px 0;
}
a.socials.facebook {
	background: url('../images/socials/facebook.png') no-repeat;
}
a.socials.youtube {
	background: url('../images/socials/youtube.png') no-repeat;
}
a.socials.twitter {
	background: url('../images/socials/twitter.png') no-repeat;
}
a.socials.linkedin {
	background: url('../images/socials/linkedin.png') no-repeat;
}
a.socials:hover, a.socials-small:hover {
	background-position: 0 0 !important;
}
a.socials {
	width: 27px;
	height: 27px;
	background-position: 0 -27px !important;
}
a.socials, a.socials-small {
	display: inline-block;
	margin-right: 0px;
	text-indent: -9999px;
	text-align: left;
}
.navbar-fixed-top {
	display:none;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	padding: 9px 15px;
	font-size: 12px;
	font-weight: bold;
	color: #777;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.dropdown-menu > .active > a, .dropdown-menu > .current-menu-item > a {
	color:#fff;
}
.arc {
	position:relative;
	top:40px;
	left:-50px;
	margin-bottom:-100px;
}
.header {
	font-size: 28px;
	font-weight:300;
	line-height: 1.1em;
	color: #007eb2;
	margin-bottom: 20px;
}
.header-red {
	font-size: 28px;
	font-weight:300;
	line-height: 1.1em;
	color: #981b1e;
	margin-bottom: 20px;
}
.header-blue {
	font-size: 28px;
	font-weight:300;
	line-height: 1.1em;
	color: #007eb2;
	margin-bottom: 8px;
}
.punch {
	font-size:20px;
	font-weight:300;
	color:#4c4d4f;
	line-height:2.2em;
	margin: 20px 60px 12px 20px;
}
.punch-blue {
	font-size:20px;
	font-weight:300;
	color:#007eb2;
	line-height:2.2em;
	margin: -10px 40px 12px 20px;
}
.targetimage {
	position:relative;
	left: -50px;
	top: -40px;
	margin-bottom:-50px;
}
.subnav {
	margin: 20px;
}
.subnav ul li a {
	font-size: 14px;
}
.subnav ul li.active a {
	color:#007eb2;
	font-weight: bold;
}
.team-bio {
	height:370px;
	overflow:auto;
	padding-right:20px;
}
#partners-frame {
	width:100%;
	height:270px;
	border:none;
}
.bio-img {
	max-width: 200px;
	margin:0 20px 12px 0;
}
#successdiv {
	position:relative;
	
}
map {
	position:absolute;
	top:0; left:150px;
}
#successimg {
	min-width:340px;
	margin-left:150px;
}
.popover {
	min-width:200px;
}
.title-a {
	color: #fff;
	background-color: #4c4b50;
}
.title-b {
	color: #fff;
	background-color: #981b1e;
}
.title-c {
	color: #fff;
	background-color: #4c4b50;
}
.title-d {
	color: #fff;
	background-color: #981b1e;
}
.popover-a {
	display: inline-block;
	border: none;
	width: 10px;
	height: 10px;
	position:absolute;
	top: 120px;
	left: 12px;
}
.popover-b {
	display: inline-block;
	border: none;
	width: 10px;
	height: 10px;
	position:absolute;
	top: 90px;
	left: 284px;
}
.popover-c {
	display: inline-block;
	border: none;
	width: 10px;
	height: 10px;
	position:absolute;
	top: 215px;
	left: 324px;
}
.popover-d {
	display: inline-block;
	border: none;
	width: 10px;
	height: 10px;
	position:absolute;
	top: 270px;
	left: 65px;
}
.successbox {
	display: none;
}
.carousel-control {
	position: absolute;
	top: 45%;
	left: 4px;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	font-size: 30px;
	font-weight: 100;
	line-height: 15px;
	color: white;
	text-align: center;
	background: #222;
	border: 3px solid white;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 200;
}
.carousel-control.right {
	right: 4px;
	left: auto;
}
.carousel-inner {
	margin:20px;
	width:auto;
}
.carousel-inner > .item {
	padding:0px;
	font-size:smaller;
	line-height: 1.4em;
}
/* home page layout */
.home-left {
	width:188px;
	float:left;
}
.home-center {
	width:564px;
	float:left;
	text-align:center;
}
#imageSwapBG {
	position: relative;
	top: -454px;
	z-index: -1;
	margin-bottom:-454px;
}
.home-right {
	width:188px;
	float:left;
}
.mi-home {
	position:relative;
	top:-65px;
	margin-bottom:-110px;
}
.home-portals {
	height:319px;
	background-color:#fff;
	padding:60px 0 0 20px;
	font-size:12px;
}
#ticker {
	height: 224px;
	overflow: hidden;
	border-bottom: 1px solid #DDD;
	margin: 0;
	padding: 0;
	list-style: none;	
}
#ticker li {
	height: 224px;
	padding: 5px;
	margin: 0px 5px;
}
.modal-video {
	width: 600px;
}
.iframevideo {
	width:512px;
	height:288px;
}
.modal-video .modal-body {
	text-align:center;
}

/* Large desktop */
@media (min-width: 1200px) { 
	.punch {
		margin: 20px 52px 12px 20px;
	}
	.punch-blue {
		margin: -10px 60px 12px 20px;
	}
	.content-holder {
		min-height:600px;
	}
	.nav-top {
		background-image: url('../../images/bg_nav_top_270.gif'); 
	}
	.nav-bottom {
		background-image: url('../../images/bg_nav_bottom_270.gif'); 
	}
	.home-left {
		width:303px;
	}
	.home-right {
		width:303px;
	}
	.arc {
		top:40px;
		left:-70px;
	}
	map {
		top:0; left:240px;
	}
	#successimg {
		margin-left:240px;
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.poweredby {
		margin: 20px 0 12px 20px;
	}
	.nav-side > .nav-list {
		height:auto;
	}
	.nav-list > li > a {
		padding: 20px 4px 18px 0px;
		font-size:12px;
	}
	.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
		background: url('../../images/bg_nav_active_short.jpg') no-repeat;
	}
	.nav-list > .current-page-parent > a, .nav-list > .current-page-parent > a:hover, .nav-list > .current-page-parent > a:focus {
		background: url('../../images/bg_nav_active_short.jpg') no-repeat;
	}
	.nav-list > .current-menu-item > a, .nav-list > .current-menu-item > a:hover, .nav-list > .current-menu-item > a:focus {
		background: url('../../images/bg_nav_active_short.jpg') no-repeat;
	}
	.nav-top {
		background-image: url('../../images/bg_nav_top_166.gif'); 
	}
	.nav-bottom {
		background-image: url('../../images/bg_nav_bottom_166.gif'); 
	}
	.punch {
		font-size:16px;
		line-height:2.2em;
		margin: 20px 60px 12px 20px;
	}
	.punch-blue {
		font-size:16px;
		line-height:2.2em;
		margin: -10px 40px 12px 20px;
	}
	.subnav ul li a {
		font-size: 12px;
	}
	.footerlogo {
		margin-top: 12px;
	}
	.home-left {
		width:158px;
	}
	.home-center {
		width:404px;
	}
	#imageSwapBG {
		position: relative;
		top: -293px;
		z-index: -1;
		margin-bottom:-293px;
	}
	.mi-home {
		width:404px;
		top:-47px;
		margin-bottom:-110px;
	}
	.home-right {
		width:158px;
	}
	.home-left > .nav-list {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.nav-top-home {
		height:8px;
	}
	.nav-bottom-home {
		height:8px;
		background-image: url('../../images/bg_nav_top_home.gif'); 
	}
	.home-portals {
		height:auto;
		padding:10px 0px 0px 10px;
	}
	map {
		top:0; left:60px;
	}
	#successimg {
		margin-left:60px;
	}
	.form-horizontal .control-label {
		width: 110px;
	}
	.form-horizontal .controls {
		margin-left: 130px;
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body.gridbg {
		background-image: none;
	}
	#wrap > .container {
		padding-top: 0px;
	}
	.navbar-fixed-top {
		display:block;
	}
	.nav-side {
		display:none;
	}
	.block2 {
		display:none;
	}
	.nav-list {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
		background-image: none;
	}
	.nav-list > .current-page-parent > a, .nav-list > .current-page-parent > a:hover, .nav-list > .current-page-parent > a:focus {
		background-image: none;
	}
	.nav-list > .current-menu-item > a, .nav-list > .current-menu-item > a:hover, .nav-list > .current-menu-item > a:focus {
		background-image: none;
	}
	.arc {
		top:20px;
		left:-16px;
		margin-bottom:-50px;
	}
	map {
		top:0; left:40px;
	}
	#successimg {
		margin-left:40px;
	}
	.home-left {
		width:100%;
	}
	.home-center {
		width:100%;
	}
	#imageSwapBG {
		position: relative;
		top: -293px;
		z-index: -1;
		margin-bottom:-293px;
		display:none;
	}
	.home-right {
		width:100%;
	}
	.mi-home {
		position:inherit;
		margin-top:10px;
		margin-bottom:10px;
	}
	.home-portals {
		height:auto;
		padding:10px 20px 0px 20px;
	}
	.modal-video {
		width: 450px;
	}
	.iframevideo {
		width:256px;
		height:144px;
	}
	.targetimage {
		position:inherit;
		float:left;
		margin:20px 12px 6px 0px;
	}
	.punch {
		margin: 80px 32px 12px 20px;
	}
	.punch-blue {
		font-size:20px;
		line-height:1.6em;
		margin: 0px 40px 12px 20px;
	}
	.subnav {
		margin: 100px 0 20px 0px;
	}
	.content-holder-sub2 {
		margin:10px 0 0 10px;
	}
	#footer p {
		margin: 6px;
	}
	#footer ul {
		margin:6px;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	#wrap > .container {
		padding-top: 0px;
	}
	.modal-video {
		width: 96%;
	}
	.iframevideo {
		width:256px;
		height:144px;
	}
	map {
		top:0; left:-20px;
	}
	#successimg {
		margin-left:-20px;
	}
	.successbox {
		display: inline;
	}
}