.signInButton
{
    overflow: visible;
    position: relative;	    
    border: 0;
    padding: 0;
    cursor: pointer;
    
    width: 150px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;	   
     background: #007AB4;
    width: 100%;
    height: 40px
}
.seprate
{
    overflow: visible;
    position: relative;	    
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 150px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background:18729F;
}

.rounded
{
    overflow: visible;
    position: relative;	    
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 115px;
    font: bold 12px/30px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    border-radius: 10px; 
	-moz-border-radius: 45px; 
	-webkit-border-radius: 45px; 		
}
.logout-button
{
    overflow: visible;
    position: relative;	    
    border: 0;
    padding: 10px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;    
    background:#18729f;
   
}
.header-button
{
    overflow: visible;
    position: relative;	    
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 150px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
   	
}
.font12
{
	font-size: 12px;
}

.font15
{
	font-size: 15px;
}
.font20
{
	font-size: 20px;
}
.font25
{
	font-size: 25px;
}
.font30
{
	font-size: 30px;
}
.font15
{
	font-size: 15px;
}
.white
{
	color:white;
}
.gray
{
	color:18729F;
}
.skycolor
{
color:#18729f;
}
.blackcolor
{
color: black;
}
.font24
{
	font-size: 24px;
}
.fon47
{
	font-size: 47px;
}
.signInButtonWhite
{
    overflow: visible;
    position: relative;	    
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 150px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #000;
    background: #FFFFFF;
    width: 30%;
    height: 40px
}

.signInButtonWhiteSec2
{
    overflow: visible;
    position: relative;	    
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 150px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #000;
    background: #FFFFFF;
    width: 100%;
    height: 40px
}

.heading2
{
	font-size: 12px;
	color: #007AB3;
	font-weight: bold; 	
	
}

.headingBlue
{
	color: #007AB3;
	text-decoration: none;
}

