body { /* margin: 0;
  font-family:'Century Gothic','Open Sans', sans-serif;
  font-size: 11px;;
  line-height: 20px;
  color: #474747;*/
	
}
.job:hover {
	background-color: #007AB4;
	border-radius: 0px 4px 4px 0px;
	color: #FFFFFF !important;
	height: 14px;
	margin: 1px 0px 0 0px !important;
	text-decoration: none;
	padding: 12px 19px !important;
}
.modalTM {
	z-index: 10;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	/* IE6-7 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	/* vishwanath */
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

.modalTM1 { //
	position: fixed;
	z-index: 10;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	/* IE6-7 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	/* vishwanath */
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

.modalTMDA {
	position: fixed;
	z-index: 10;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3); *
	border: 1px solid #999; *
	border: 1px solid #999;
	/* IE6-7 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	/* Gagan */
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

.modalsa {
	position: fixed;
	right: 0;
	top: 75px;
	z-index: 10;
}

#loadingDiv_dspq_ie {
	background: #FFFFFF;
	opacity: .80;
	filter: alpha(opacity = 80);
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

h2 {
	background: url(../images/title_bg.png) no-repeat left top;
	height: 52px;
	color: #1a5486;
	font-size: 15px;
	font-family: "HelveticaCyr Upright";
	line-height: 38px;
	padding: 0 0 0 13px;
	margin: 15px 0px 0px 0px
}

.center {
	text-align: center;
}

.attach {
	padding: 4px !important;
	font-size: 10px !important;
}

.select-min {
	width: 50px;
	float: left !important;
}

.select-small {
	float: left !important;
	width: 65px;
}

.select-yer {
	width: 73px;
	float: left !important;
}

.to {
	padding: 5px 2px;
	font-weight: normal;
}

.idone {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 15px;;
	color: #1a5486;
	font-weight: bold;
}

.idone a:hover {
	text-decoration: underline;
}

.fl {
	float: left !important;
}
.mb0 {
	margin-bottom: 0px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb {
	margin-bottom: 10px;
}
.mt0 {
	margin-top: 0px;
}
.mt30 {
	margin-top: 30px;
}

.mt25 {
	margin-top: 25px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt5 {
	margin-top: 5px;
}

.accordion-heading {
	background-color: #0078b4;
	border-bottom: 0 none;
}

.accordion-group {
	border: none;
	border-radius: 0px !important;
	margin-bottom: 2px;
}

.accordion-heading .accordion-toggle {
	color: #FFFFFF;
	display: block;
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 17px;
	height: 40px;
	line-height: 37px;
	padding: 0 15px;
}

.accordion-inner {
	border: 1px solid #F2F2F2;
	padding: 15px 0px;
}

a {
	color: #007AB4;
	text-decoration: none;
	/*font-size: 11px;*/ /* it is uncommented for tm dashboard text*/
}

a:hover {
	color: #000000;
	text-decoration: none;
	/* font-size: 11px;*/
}

.quest-background {
	background: url(../images/backimg.gif) no-repeat center top;
	height: 100%;
	width: 100%;
}

.quest-logo {
	background: url(../images/logoNew.png) no-repeat left;
}

.tooltip {
	line-height: 15px;
}

.header-bg {
	background: url(../images/header-bg.jpg) repeat-x center top;
	height: 85px;
	padding: 0px;
	width: 100%;
	display: table;
}

.p0 {
	padding: 0px !important;
}

.login-header-backround {
	background: url(../images/header-backround.png) no-repeat center top;
	height: 72px;
	width: 100%;
}

.header-backround {
	background: url(../images/header-backround.png) no-repeat center top;
	height: 58px;
	width: 100%;
}

.logo {
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

.pa {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width: 126px;
}

.John-Oliveri {
	background: none !important;
	background-image: none !important;
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	color: #007AB4 !important;
	font-size: 15px !important;
	border: none !important;
	box-shadow: none !important;
}

.John-Oliveri:hover {
	background: none !important;
	background-image: none !important;
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	color: #000000 !important;
	font-size: 15px !important;
	border: none !important;
	box-shadow: none !important;
}

.caret {
	border-bottom-color: #fff !important;
	border-top-color: #fff !important;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #646464;
	content: "";
	display: inline-block;
	height: 0;
	vertical-align: top;
	width: 0;
}

.carethead {
	border-bottom-color: #007AB4 !important;
	border-top-color: #007AB4 !important;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #646464;
	content: "";
	display: inline-block;
	height: 0;
	vertical-align: middle;
	width: 0;
}

.ascorder {
	border-bottom-color: #fff !important;
	border-top-color: #fff !important;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #646464;
	content: "";
	display: inline-block;
	height: 0;
	vertical-align: middle;
	width: 0;
}

.dscorder {
	border-bottom-color: #fff !important;
	border-top-color: #fff !important;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 6px solid #646464;
	content: "";
	display: inline-block;
	height: 0;
	vertical-align: middle;
	width: 0;
}

.leftorder {
	border-left-color: #fff !important;
	border-right-color: #fff !important;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 8px solid #fff;
	content: "";
	display: inline-block;
	height: 0;
	vertical-align: middle;
	width: 0;
}

.rightorder {
	border-left-color: #fff !important;
	border-right-color: #fff !important;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 8px solid #fff;
	content: "";
	display: inline-block;
	height: 0;
	vertical-align: middle;
	width: 0;
}

.nav .dropdown-toggle:hover .caret {
	border-bottom-color: #fff !important;
	border-top-color: #fff !important;
}

.navwidth {
	float: right;
	padding: 0px !important;
}

.navbarold-inner {
	height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-image: -moz-linear-gradient(top, #FDFDFD, #F8F8F8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD),
		to(#F8F8F8) );
	background-image: -webkit-linear-gradient(top, #FDFDFD, #F8F8F8);
	background-image: -o-linear-gradient(top, #FDFDFD, #F8F8F8);
	background-image: linear-gradient(to bottom, #FDFDFD, #F8F8F8);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#F08cc', endColorstr = '#F04cc', GradientType = 0 );
	border-color: #EAEAEA #EAEAEA #EAEAEA;
	filter: progid : DXImageTransform.Microsoft.gradient ( enabled =   false
		);
}

.navbarold .nav>li {
	float: left; no-repeat right top;
	height: 40px;
}

.navbarold .nav>li>a {
	color: #007AB4 !important;
	float: none;
	font-size: 12px;
	height: 11px;
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	padding: 8px 13px;
	text-decoration: none;
	text-shadow: none;
	font-weight: bold;
}

.navbarold .nav>li>a:focus,.navbarold .nav>li>a:hover {
	color: #007AB4 !important;
	text-decoration: none;
	height: 14px;
	margin: 1px 2px 0 0;
	padding: 7px 12px;
}

.navbarold .nav>li>.active,.active:hover {
	font-size: 15px;
}

.active,.active:hover {
	font-size: 15px;
	border-radius: 4px 0 0 4px;
	color: #007AB4 !important;
	height: 32px;
	margin: 1px 2px 0 1px !important;
	text-decoration: none;
	padding: 8px 13px !important;
}

.active .caret {
	border-bottom-color: #fff !important;
	border-top-color: #fff !important;
}

.navbarold .nav li.dropdown.open>.dropdown-toggle,.navbarold .nav li.dropdown.active>.dropdown-toggle,.navbarold .nav li.dropdown.open.active>.dropdown-toggle
	{
	background-color: #F2F2F2;
	color: #FFFFFF;
	height: 14px;
	margin: 1px 0px 0 0;
	padding: 8px 13px !important;
}

.navbarold .nav {
	display: block;
	float: left;
	left: 0;
	margin: 0 1px 0 0;
	position: relative;
}

.dropdown-menu li>a:hover,.dropdown-menu li>a:focus,.dropdown-submenu:hover>a
	{
	text-decoration: none;
	color: #007AB4 !important;
	background-color: #007AB4;
	background-image: -moz-linear-gradient(top, #FDFDFD, #F8F8F8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD),
		to(#F8F8F8) );
	background-image: -webkit-linear-gradient(top, #FDFDFD, #F8F8F8);
	background-image: -o-linear-gradient(top, #FDFDFD, #F8F8F8);
	background-image: linear-gradient(to bottom, #FDFDFD, #F8F8F8);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ff0088cc', endColorstr = '#ff0077b3', GradientType = 0 );
}

.navbaroldp {
	margin: 10px 0px 0px 0px;
}

.tablepad {
	padding: 20px 0 0 62px
}

.textfield {
	padding: 10px 0 0 42px
}

.offset1 {
	margin-left: 45px;
}

/*
.table-textbold{ font-size:14px!important; color:#000; background:#e1e1e1; border-left:1px solid #cccccc!important;}
.table-bordered td{border-color:#cccccc!important;}

.table th, .table td {
    border-top: 0px solid #cccccc;
	font-weight: normal;
    line-height: 20px;
    padding: 7px 4px;
    text-align: left;
    vertical-align: top;
	font-family:'Century Gothic','Open Sans', sans-serif;
	font-size:11px;
}
*/
.bggrid {
	background-color: #F2FAEF;
}

.iconcolor {
	color: #007AB4;
}

.iconcolorOnr {
	color: #FFFFFF;
}

.iconcolorRed {
	color: #ff0000;
}

.internalCandidateIconColor {
	color: #006400;
}

.iconcolorhover {
	color: #535353;
}

.txtbgroundTagStatus {
	background-color: #95CB6E;
	padding: 0px 8px 3px 8px;
	color: #FFFFFF;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
}

.txtbgroundTagStatusCPool {
	background-color: #007eb2;
	padding: 0px 8px 3px 8px;
	color: #FFFFFF;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
}

.txtbground {
	background-color: #95CB6E;
	padding: 3px 8px 3px 8px;
	color: #FFFFFF;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
}

.nobground {
	padding: 3px 8px 3px 8px;
	-webkit-border-top-left-radius: 20px;
	border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-left-radius: 20px;
	border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
}

.bg {
	font-weight: bold;
	background-color: #F2FAEF;
	background-image: -moz-linear-gradient(top, #3C9FCE, #007AB4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C9FCE),
		to(#007AB4) );
	background-image: -webkit-linear-gradient(top, #3C9FCE, #007AB4);
	background-image: -o-linear-gradient(top, #3C9FCE, #007AB4);
	background-image: linear-gradient(to bottom, #3C9FCE, #007AB4);
	background-repeat: repeat-x;
	border-color: #A1A1A1 !important;
	/*border: 1px solid #dddddd;*/
	border-radius: 15px;
}

.bg1 {
	font-weight: bold;
	background-color: #F2FAEF;
	background-image: -moz-linear-gradient(top, #3C9FCE, #007AB4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C9FCE),
		to(#007AB4) );
	background-image: -webkit-linear-gradient(top, #3C9FCE, #007AB4);
	background-image: -o-linear-gradient(top, #3C9FCE, #007AB4);
	background-image: linear-gradient(to bottom, #3C9FCE, #007AB4);
	background-repeat: repeat-x;
	border-color: #A1A1A1 !important;
}

.step {
	margin-bottom: 25px;
}

.divErrorMsg {
	display: none;
	color: red;
}

label,input,button,select,textarea { /*  font-size: 11px;
    font-weight: normal;
    line-height: 20px;*/
	
}

/*Footer css*/
.footer-pad {
	padding: 14px 0px 0px 0px;
}

.copyright-text {
	color: #a4a4a4;
	font-size: 9px;
	margin-top: 0px;
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	padding: 15px 0px 0px 0px;
	margin: 0px;
}

.Footerlink {
	width: 520px;
	float: left;
	padding: 0px;
	margin: 8px 0px 0px 20px;
	font-size: 11px;;
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
}

.Footerlink ul {
	width: 520px;
	float: left;
	padding: 0px;
	margin: 0px;
}

.Footerlink li {
	float: left;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	border-right: 1px solid #606060;
	line-height: 13px;
}

.Footerlink li a {
	padding: 0px 20px 0px 20px;
	margin: 0px;
	text-decoration: none;
	color: #606060;
	line-height: 13px;
}

.Footerlink li a:hover {
	padding: 0px 20px 0px 20px;
	margin: 0px;
	text-decoration: none;
	color: #1a5486;
}

.socialicon-Box {
	width: 85px;
	float: right;
	padding: 0px;
}

.socialicon-icon {
	width: 85px;
	float: right;
	padding: 0px;
	margin-top: 10px;
}

.socialicon-icon ul {
	width: 85px;
	padding: 0px;
	margin: 0px;
}

.socialicon-icon li {
	float: left;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	list-style-type: none;
}

.website-Box {
	width: 79px;
	float: right;
	padding: 0px;
	margin: 26px 0 0 102px;
}

/*End-Footer css*/
.titlecolor {
	color: #007AB4;
}

.m0 {
	margin: 0px !important;
}

.centerline {
	border-bottom: 1px solid #007AB4;
	padding: 5px 0px 5px 0px;
}

.subheading {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-weight: bold;
	color: #007AB4;
	padding: 0px;
	margin-left: 10px;
	line-height: 35px;
}

.subheadingnew {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #007AB4;
	padding: 0px;
}

.AddaSchool {
	color: #1a5486;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 0px 0px 0px;
	margin: 0px;
	text-align: right;
}

.custom-icon {
	float: right;
	padding: 3px 50px 0px 0px
}

.systemsetupborder {
	border: 1px solid #cccccc;
}

.table th h4 {
	color: #FFFFFF;
	font-family: 'Century Gothic', 'Open Sans', sans-serif;;
	font-size: 15px;
	float: left;
	margin-left: 4px;
}

.table th {
	font-weight: bold;
	border-color: #cccccc !important;
	color: #FFFFFF;
}

.table-text {
	color: #000;
}

.table-bordered {
	border-collapse: separate; #
	border-collapse: collapse;
	border-radius: 4px 4px 4px 4px;
	border: #cccccc 1px solid;
}

.table-bordered1 {
	border-collapse: separate;
	border-radius: 9px 9px 9px 9px;
}

h3 {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height: 25px;
	margin: 10px 0px 0px 20px;
	padding: 0;
}

.plus {
	background: url(../images/plus.png) no-repeat scroll right 7px
		transparent;
}

.minus {
	background: url(../images/minus.png) no-repeat scroll right 7px
		transparent;
}

.plus,.minus {
	height: 26px;
	margin-right: 10px;
}

.add-employment {
	padding: 10px 0px 10px 0px;
	color: #1A5486;
	font-size: 11px;;
	font-weight: normal;
	text-align: right;
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}

.scrollspy-example {
	overflow-y: auto;
	overflow-x: hidden;
}

.add-employment1 {
	color: #861a54;
	font-size: 11px;;
	font-weight: normal;
	padding: 9px 0;
	text-align: right;
}

.required {
	color: #F00;
}

.requiredlarge {
	color: #F00;
	font-size: 15px;
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #9fcf68;
	background-image: -moz-linear-gradient(top, #a2d990, #95CB6E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2d990),
		to(#95CB6E) );
	background-image: -webkit-linear-gradient(top, #a2d990, #95CB6E);
	background-image: -o-linear-gradient(top, #a2d990, #95CB6E);
	background-image: linear-gradient(to bottom, #a2d990, #95CB6E);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#F08cc', endColorstr = '#F04cc', GradientType = 0 );
	border-color: #04C #04C #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*
	background-color: #a2d990;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid : DXImageTransform.Microsoft.gradient ( enabled =   false
		);
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]
	{ /*    color: #ffffff;
     background-color: #95CB6E;
	  background-color: #a2d990;*/
	
}

.btn-primary-blue {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #002A80;
	background-image: -moz-linear-gradient(top, #002A80, #002A80);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#002A80),
		to(#002A80) );
	background-image: -webkit-linear-gradient(top, #002A80, #002A80);
	background-image: -o-linear-gradient(top, #002A80, #002A80);
	background-image: linear-gradient(to bottom, #002A80, #002A80);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#F08cc', endColorstr = '#F04cc', GradientType = 0 );
	border-color: #04C #04C #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*
	background-color: #002A80;
	filter: progid : DXImageTransform.Microsoft.gradient ( enabled =   false
		);
}

.btn-secondary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #981B1E;
	background-image: -moz-linear-gradient(top, # #981B1E, #981B1E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#981B1E),
		to(#981B1E) );
	background-image: -webkit-linear-gradient(top, #981B1E, #981B1E);
	background-image: -o-linear-gradient(top, #981B1E, #981B1E);
	background-image: linear-gradient(to bottom, #981B1E, #981B1E);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#981B1E', endColorstr = '#981B1E', GradientType = 0 );
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*
	background-color: #800000;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid : DXImageTransform.Microsoft.gradient ( enabled =   false
		);
}

.btn-secondary:hover,.btn-secondary:active,.btn-secondary.active,.btn-secondary.disabled,.btn-secondary[disabled]
	{
	color: #ffffff;
	background-color: #981B1E; *
	background-color: #981B1E;
}

.uploadphoto {
	display: block;
	font-size: 9px;
	margin-top: 15px;
}

.mr50 {
	margin-right: 50px;
}

.add-employment2 {
	color: #1A5486;
	font-size: 11px;;
	font-weight: normal;
	padding: 3px 0;
	text-align: left;
}

.centerline1 {
	padding: 5px 0px 5px 0px;
}

.subheading1 {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #007AB4;
	padding: 0px;
	margin: 0px 0px 0px 15px;
	line-height: 35px;
}

.right {
	text-align: right;
}

.mt08 {
	margin-top: 08px;
}

.row-fluid {
	display: table;
}

.step {
	background: url(../images/step-line.png) center 19px no-repeat;
	display: block;
	max-width: 100%;
	height: auto;
}

//
.step {
	padding-bottom: 30px;
	background: url(../images/step-line.png) center 19px no-repeat;
}

.step ul {
	list-style: none;
}

//
.step ul li {
	float: left;
	margin: 0px 62px;
}

.step ul li:first-child {
	margin-left: 37px;
}

.step ul li a {
	background: url(../images/step-button.png) center 0px no-repeat;
	height: 37px;
	display: block;
	float: left;
}

.step ul li a:hover {
	text-decoration: none;
}

.step ul li a span {
	color: #000000;
	display: block;
	font-family: tahoma;
	font-size: 11px;;
	font-weight: bold;
	padding: 40px 0 0;
}

.step .stepactive {
	background: url(../images/step-button.png) center -37px no-repeat;
	text-decoration: none;
}

.step ul li div {
	background: url(../images/step-button.png) center 0px no-repeat;
	height: 37px;
	display: block;
	float: left;
}

.step ul li div span {
	color: #000000;
	display: block;
	font-family: tahoma;
	font-size: 11px;;
	font-weight: bold;
	padding: 40px 0 0;
}

.loginlogo {
	margin: 35px 0 0 260px;
	padding: 0;
}

.headtable {
	color: #1A5486;
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: bold;
	line-height: 30px;
	margin: 0 0 15px 0px;
	padding: 0;
}

.subheadinglogin {
	color: #007AB4;
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 35px;
	margin: 0 0 10px 0px;
	padding: 0;
}

.mb30 {
	margin-bottom: 30px;
}

.control-group {
	margin-bottom: 5px;
}

.remove {
	padding-top: 3px;
}

label strong {
	font-weight: normal;
}

.btn-primary strong {
	font-weight: normal;
}
.btn-primary-blue strong {
	font-weight: normal;
}
/* Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.can,a[rel="tooltip"] img {
		margin-top: -3px;
	}
	.icon {
		background: url(../images/icon.png) no-repeat;
		display: inline-block;
		height: 14px;
		line-height: 14px;
		margin-top: 3px !important;
		vertical-align: text-top;
		width: 14px;
	}
	.icon2 {
		background: url(../images/icon2.png) no-repeat;
		display: inline-block;
		height: 14px;
		line-height: 14px;
		margin-top: 3px !important;
		vertical-align: text-top;
		width: 14px;
	}
	.iconlock {
		background: url(../images/iconlock.png) no-repeat;
		display: inline-block;
		height: 14px;
		line-height: 14px;
		margin-top: 5px !important;
		vertical-align: text-top;
		width: 14px;
	}
	.backicon {
		background: url(../images/backicon.png) no-repeat;
		display: inline-block;
		height: 14px;
		line-height: 14px;
		margin-top: 2px !important;
		vertical-align: text-top;
		width: 14px;
	}
	.teacher p {
		height: 175px;
	}
}

.pagination-centered {
	text-align: center !important;
}

button[type="button"] .icon {
	background: url("../images/icon.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	margin-top: 3px !important; #
	margin-top: 1px !important;
	margin-top: 1px\9 !important;
	vertical-align: text-top;
	width: 14px;
}

.modal-footer .btn .icon {
	margin-top: 4px !important;
}

.icon {
	background: url(../images/icon.png) no-repeat;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	margin-top: 5px;
	vertical-align: text-top;
	width: 14px;
}

.navbarold .nav li.dropdown.open>.dropdown-toggle .caret,.navbarold .nav li.dropdown.active>.dropdown-toggle .caret,.navbarold .nav li.dropdown.open.active>.dropdown-toggle .caret
	{
	border-top-color: #fff;
	border-bottom-color: #fff;
}

ul.list1 {
	list-style: none;
	padding-right: 25px;
}

.list1 li {
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}

.right_block {
	margin-top: 10px;
}

.dash_td {
	height: 350px;
}

.dash_td h3 {
	margin-left: 15px;
}

.pl5 {
	padding-left: 7px !important;
}

.districticon {
	margin: 3px 8px 0 5px;
}

form {
	margin-bottom: 0px;
}

.calendar {
	background-image: url(../images/calendaricon.png);
	/*background-position: 14px 14px;*/
	background-repeat: no-repeat;
	/* border: 1px solid #000000;*/
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-top: -2px;
	vertical-align: text-top;
	width: 20px;
}

label {
	color: #474747;
}

.redtextmsg {
	color: #F00;
}

#loadingDiv {
	background: #FFFFFF;
	/*background-color:none;*/
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}

#loadingDiv_jobCatGrid {
	background: #FFFFFF;
	/*background-color:none;*/
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}

#loadingDiv_jobEdit {
	background: #FFFFFF;
	/*background-color:none;*/
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}
#loadingDivOnBoarding {
	background: #FFFFFF;
	/*background-color:none;*/
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}
#loadingDivInventory {
	background: #FFFFFF;
	/*background-color:none;*/
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}

#loadingDSPQDiv {
	background: #FFFFFF;
	/*background-color:none;*/
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}

.importborder {
	text-align: justify;
	border-width: 1px;
	border-style: solid;
	border-color: #007AB4;
	height: auto;
	padding: 10px;
	padding-bottom: 20px;
}

#testheader {
	height: 70px;
	background: none #ffffff;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 50;
}

.circle {
	display: block;
	width: 40px;
	height: 40px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 1px solid #eee;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.divcolor {
	background-color: #F2FAEF;
}

.divdisablecolor {
	background-color: #CCCCCC;
}

.divlable {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 10px;
	color: black;
	padding: 0px;
	margin-left: 5px;
}

.divlable1 {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 11px;
	color: black;
	padding: 0px;
	margin-left: 0px;
}

.divlableval {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 10px;
	color: #007AB4;
	padding: 0px;
	margin-left: 5px;
}

.divlableval1 {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 10px;
	color: #007AB4;
	padding: 0px;
	margin-left: 0px;
}

.divlablelinkval {
	font-size: 10px;
	padding: 0px;
}

.topheader {
	font-size: 11px;
}

.divlablevalins {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 12px;
	color: #007AB4;
	padding: 0px;
}

.newcg {
	color: #95CB6E;
}

span.vertical-line {
	width: 2px;
	background-color: #007AB4;
	height: 100%;
	float: left;
	border-radius: 2px;
}

.txtyearbg {
	background-color: #007AB4;
	padding: 3px 8px 3px 8px;
	color: #FFFFFF;
}

.commbgcolor {
	background-color: #DCE6F2;
}

td hr {
	margin: 10px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}

.remove-color {
	color: #7F7F7F;
}

.removed-color {
	color: red;
}

.reject-color {
	color: #7F7F7F;
}

.withdrawn-color {
	color: #7F7F7F;
}

.select-color {
	color: #00FF00;
}

.selected-color {
	color: red;
}

.com-user {
	color: #007AB4;
}

.note-com {
	position: absolute;
	margin-left: 0px;
	margin-top: -4px;
	vertical-align: middle;
}

.message-com {
	position: absolute;
	margin-left: 2px;
	margin-top: -4px;
	vertical-align: middle;
}

.phone-com {
	position: absolute;
	margin-left: 6px;
	margin-top: -6px;
	vertical-align: middle;
}

.status-com {
	position: absolute;
	margin-left: 4px;
	margin-top: -5px;
	vertical-align: middle;
}

.nobground2 {
	padding: 6px 7px 6px 7px;
	-webkit-border-top-left-radius: 30px;
	border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-webkit-border-top-right-radius: 30px;
	border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
}

.nobground1 {
	padding: 6px 10px 6px 10px;
	-webkit-border-top-left-radius: 30px;
	border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-webkit-border-top-right-radius: 30px;
	border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
}

.nobground3 {
	padding: 6px 4px 6px 4px;
	-webkit-border-top-left-radius: 30px;
	border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-webkit-border-top-right-radius: 30px;
	border-top-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-bottom-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
}

.txtbgroundstatus {
	padding: 5px 30px 5px 30px;
	width: 60px;
	height: 50px;
	background-color: #595959;
	color: #FFFFFF;
	text-align: center;
	-webkit-border-top-left-radius: 25px;
	border-top-left-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-webkit-border-top-right-radius: 25px;
	border-top-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-webkit-border-bottom-right-radius: 25px;
	border-bottom-right-radius: 25px;
	-moz-border-radius-bottomright: 25px;
	-webkit-border-bottom-left-radius: 25px;
	border-bottom-left-radius: 25px;
	-moz-border-radius-bottomright: 25px;
}

.txtgreenbgroundstatus {
	padding: 5px 30px 5px 30px;
	width: 60px;
	height: 50px;
	background-color: #71C51C;
	color: #FFFFFF;
	text-align: center;
	-webkit-border-top-left-radius: 25px;
	border-top-left-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-webkit-border-top-right-radius: 25px;
	border-top-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-webkit-border-bottom-right-radius: 25px;
	border-bottom-right-radius: 25px;
	-moz-border-radius-bottomright: 25px;
	-webkit-border-bottom-left-radius: 25px;
	border-bottom-left-radius: 25px;
	-moz-border-radius-bottomright: 25px;
}
.txtyellowbgroundstatus{
	padding: 5px 30px 5px 30px;
	width:60px;height:50px;
	background-color: #FFFF00;
	color:#000000;
	text-align:center;
	-webkit-box-shadow: 0px 0px 1px 1px #71C51C;
	box-shadow: 0px 0px 1px 1px #71C51C;
	-webkit-border-top-left-radius:25px;border-top-left-radius:25px;-moz-border-radius-topleft:25px;-webkit-border-top-right-radius:25px;border-top-right-radius:25px;-moz-border-radius-topright:25px;-webkit-border-bottom-right-radius:25px;border-bottom-right-radius:25px;-moz-border-radius-bottomright:25px;-webkit-border-bottom-left-radius:25px;border-bottom-left-radius:25px;-moz-border-radius-bottomright:25px;
}
.txtredbgroundstatus{
	padding: 5px 30px 5px 30px;
	width:60px;height:50px;
	background-color: red;
	color:#FFFFFF;
	text-align:center;
	-webkit-box-shadow: 0px 0px 1px 1px #71C51C;
	box-shadow: 0px 0px 1px 1px #71C51C;
	-webkit-border-top-left-radius:25px;border-top-left-radius:25px;-moz-border-radius-topleft:25px;-webkit-border-top-right-radius:25px;border-top-right-radius:25px;-moz-border-radius-topright:25px;-webkit-border-bottom-right-radius:25px;border-bottom-right-radius:25px;-moz-border-radius-bottomright:25px;-webkit-border-bottom-left-radius:25px;border-bottom-left-radius:25px;-moz-border-radius-bottomright:25px;
}
.txtbluebgroundstatus{
	padding: 5px 30px 5px 30px;
	width:60px;height:50px;
	background-color: blue;
	color:white;
	text-align:center;
	-webkit-box-shadow: 0px 0px 1px 1px #71C51C;
	box-shadow: 0px 0px 1px 1px #71C51C;
	-webkit-border-top-left-radius:25px;border-top-left-radius:25px;-moz-border-radius-topleft:25px;-webkit-border-top-right-radius:25px;border-top-right-radius:25px;-moz-border-radius-topright:25px;-webkit-border-bottom-right-radius:25px;border-bottom-right-radius:25px;-moz-border-radius-bottomright:25px;-webkit-border-bottom-left-radius:25px;border-bottom-left-radius:25px;-moz-border-radius-bottomright:25px;
}
.txtgreygreenbgroundstatus {
	padding: 5px 30px 5px 30px;
	width: 60px;
	height: 50px;
	background-color: #595959;
	color: #FFFFFF;
	text-align: center;
	-webkit-box-shadow: 0px 0px 6px 4px #71C51C;
	box-shadow: 0px 0px 6px 4px #71C51C;
	-webkit-border-top-left-radius: 25px;
	border-top-left-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-webkit-border-top-right-radius: 25px;
	border-top-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-webkit-border-bottom-right-radius: 25px;
	border-bottom-right-radius: 25px;
	-moz-border-radius-bottomright: 25px;
	-webkit-border-bottom-left-radius: 25px;
	border-bottom-left-radius: 25px;
	-moz-border-radius-bottomright: 25px;
}

.btn-orange {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #FF6600;
	background-image: -moz-linear-gradient(top, # #FF6600, #FF6600);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF6600),
		to(#FF6600) );
	background-image: -webkit-linear-gradient(top, #FF6600, #FF6600);
	background-image: -o-linear-gradient(top, #FF6600, #FF6600);
	background-image: linear-gradient(to bottom, #FF6600, #FF6600);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#FF6600', endColorstr = '#FF6600', GradientType = 0 );
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*
	background-color: #800000;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid : DXImageTransform.Microsoft.gradient ( enabled =   false
		);
}

.btn-orange:hover,.btn-orange:active,.btn-orange.active,.btn-orange.disabled,.btn-orange[disabled]
	{
	color: #ffffff;
	background-color: #FF6600;
}

.paddingLeft20 {
	padding-left: 20px;
}

.add-Question {
	color: #861a54;
	font-size: 11px;;
	font-weight: normal;
	padding: 9px 0;
	padding-right: 8px;
	text-align: right;
}

.question_padding_left {
	padding-left: 22px;
}

.slider_question_lbl {
	padding-left: 2px;
}

.slider_question {
	padding-left: 0px;
	vertical-align: middle;
}

.table_bordered_question {
	border-collapse: separate; #
	border-collapse: collapse;
	border-radius: 4px 4px 4px 4px;
	border: #cccccc 0px solid;
}

.addPortfolio {
	color: #861a54;
	font-size: 11px;;
	font-weight: normal;
	padding: 9px 0;
	text-align: right;
}

.modalDymanicPortfolio {
	position: fixed;
	top: 45%;
	left: 44%;
	z-index: 2000;
	overflow: auto;
	width: 1000px;
	margin: -250px 0 0 -440px;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3); *
	border: 1px solid #999;
	/* IE6-7 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.modalDymanicPortfolio_modal_body {
	overflow-y: auto;
	max-height: 430px;
	padding: 15px;
}

.portfolio_Subheading {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #007AB4;
	padding: 0px;
	margin-left: 1px;
	line-height: 35px;
}

.portfolio_Section_Gap {
	margin-top: 30px;
}

.portfolio_Section_ImputFormGap {
	margin-top: 12px;
}

.labletxt {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	color: #474747;
	padding: 0px;
	margin-left: 1px;
}

.lableAtxt {
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	color: #007AB4;
	padding: 0px;
	margin-left: 1px;
}

.sysheader {
	font-size: 19px;
	font-weight: bold;
}

.divborder {
	border: 1px solid #dddddd;
}

.contentpadding1 {
	padding: 40px;
	padding-left: 15px;
}

.content-padding2 {
	padding: 15px;
}

.iconcolorGreen {
	color: #006400;
}

.thumbUpIconColor {
	color: #9FCF68;
}

.thumbUpIconBlueColor {
	color: #007AB4;
}

.refChkIconYellowColor {
	color: #FFCC00;
}

.refChkIconRedColor {
	color: #FF0000;
}

.refChkIconBlueColor {
	color: #3333FF;
}

.refChkIconGrayColor {
	color: #666666;
}

.fontsize11 {
	font-size: 11px;
}

.iconColorOrange {
	color: #FF6600;
}

.dropdown-menu a {
	display: block;
	padding: 3px 15px;
	margin-padding: 100px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
}

.dropdown-menu li a {
	display: block;
	padding: 3px 15px;
	margin-padding: 100px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
}

.dropdown-menu a:hover {
	color: #007AB4;
}

.dropdown-menu .active-link {
	background-color: #CCCCCC;
	color: aqua;
}

/*
css for left and top margin*/
.left1 {
	margin-left: 1px;
}

.left2 {
	margin-left: 2px;
}

.left3 {
	margin-left: 3px;
}

.left5 {
	margin-left: 5px;
}

.left6 {
	margin-left: 6px;
}

.left7 {
	margin-left: 7px;
}

.left1 {
	margin-left: 1px;
}

.left8 {
	margin-left: 8px;
}

.left9 {
	margin-left: 9px;
}

.left10 {
	margin-left: 10px;
}

.left11 {
	margin-left: 11px;
}

.left12 {
	margin-left: 12px;
}

.left13 {
	margin-left: 13px;
}

.left14 {
	margin-left: 14px;
}

.left15 {
	margin-left: 15px;
}

.left16 {
	margin-left: 16px;
}

.left17 {
	margin-left: 17px;
}

.left18 {
	margin-left: 18px;
}

.left19 {
	margin-left: 19px;
}

.left20 {
	margin-left: 20px;
}

.left21 {
	margin-left: 21px;
}

.left22 {
	margin-left: 22px;
}

.left23 {
	margin-left: 23px;
}

.left24 {
	margin-left: 24px;
}

.left25 {
	margin-left: 25px;
}

.left30 {
	margin-left: 30px;
}

.left50 {
	margin-left: 50px;
}

.top0 {
	margin-top: 0px;
}

.top1 {
	margin-top: 1px;
}

.top1 {
	margin-top: 2px;
}

.top2 {
	margin-top: 1px;
}

.top5 {
	margin-top: 5px;
}

.top6 {
	margin-top: 6px;
}

.top7 {
	margin-top: 7px;
}

.top1 {
	margin-top: 1px;
}

.top8 {
	margin-top: 8px;
}

.top9 {
	margin-top: 9px;
}

.top10 {
	margin-top: 10px;
}

.top11 {
	margin-top: 11px;
}

.top12 {
	margin-top: 12px;
}

.top13 {
	margin-top: 13px;
}

.top14 {
	margin-top: 14px;
}

.top15 {
	margin-top: 15px;
}

.top16 {
	margin-top: 16px;
}

.top17 {
	margin-top: 17px;
}

.top18 {
	margin-top: 18px;
}

.top19 {
	margin-top: 19px;
}

.top20 {
	margin-top: 20px;
}

.top21 {
	margin-top: 21px;
}

.top22 {
	margin-top: 22px;
}

.top23 {
	margin-top: 20px;
}

.top20 {
	margin-top: 23px;
}

.top24 {
	margin-top: 24px;
}

.top25 {
	margin-top: 25px;
}

.top26 {
	margin-top: 26px;
}

.top27 {
	margin-top: 27px;
}

.top28 {
	margin-top: 28px;
}

.top29 {
	margin-top: 29px;
}

.top30 {
	margin-top: 30px;
}

.top31 {
	margin-top: 31px;
}

.top32 {
	margin-top: 32px;
}

.top33 {
	margin-top: 33px;
}

.top34 {
	margin-top: 34px;
}

.top35 {
	margin-top: 35px;
}

.top-35 {
	margin-top: -16px;
}

.top45 {
	margin-top: 45px;
}

.right130 {
	margin-right: 130px;
}

#loadingDivHZS {
	background: #FFFFFF;
	/* background-color: none; */
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =   80);
}

#footertxtcolor a {
	color: #4E4D52;;
	text-decoration: none;
}

.examslotlabel {
	padding: 0px 6px 2px 12px;
	border: 1px solid black;
}

.stepDSPQ {
	background: url(../images/step-line.png) center 19px no-repeat;
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 25px;
}

.stepDSPQ ul {
	list-style: none;
}

.stepDSPQ ul li:first-child {
	margin-left: -77px;
}

.stepDSPQ ul li a {
	background: url(../images/step-button.png) center 0px no-repeat;
	height: 37px;
	display: block;
	float: left;
}

.stepDSPQ ul li a:hover {
	text-decoration: none;
}

.stepDSPQ ul li a span {
	color: #000000;
	display: block;
	font-family: tahoma;
	font-size: 11px;;
	font-weight: bold;
	padding: 35px 0 0;
	width: 195px;
	text-align: center;
}

.stepDSPQ .stepactive {
	background: url(../images/step-button.png) center -37px no-repeat;
	text-decoration: none;
}

.stepDSPQ ul li div {
	background: url(../images/step-button.png) center 0px no-repeat;
	height: 37px;
	display: block;
	float: left;
}

.stepDSPQ ul li div span {
	color: #000000;
	display: block;
	font-family: tahoma;
	font-size: 11px;;
	font-weight: bold;
	padding: 40px 0 0;
}

.DSPQRequired12 {
	color: #F00;
	font-size: 12px;
	font-weight: bold;
}

.DSPQRequired13 {
	color: #F00;
	font-size: 13px;
	font-weight: bold;
}

.DSPQRequired14 {
	color: #F00;
	font-size: 14px;
	font-weight: bold;
}

.DSPQRequired15 {
	color: #F00;
	font-size: 15px;
	font-weight: bold;
}

.stepDSPQ1 {
	display: block;
	max-width: 100%;
	height: auto;
}

.stepDSPQ1 .stepactive {
	background: url(../images/step-button_green.png) center -37px no-repeat;
	text-decoration: none;
	height: 40px;
}

.stepDSPQ1 .stepinactive {
	background: url(../images/step-button_green.png) center 0px no-repeat;
	height: 37px;
	display: block;
}

.stepDSPQ1 div span {
	color: #000000;
	display: block;
	font-family: tahoma;
	font-size: 11px;;
	font-weight: bold;
	/*   padding: 40px 0 0;*/
}

.stepline {
	background: url(../images/step-line.png) center 19px no-repeat;
	/*width:20%;*/
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

.steplineslc {
	background: url(../images/step-line1.png) center -2px repeat-x;
	/*width:20%;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;*/
}

.flatbtn {
	width: 75%;
	height: 35px;
	padding: 0px 1px 2px 1px;
	font-size: 14px;
	color: white;
	border-radius: 3px;
	text-align: center;
	background: #99cf77;
	border: 0;
	cursor: pointer;
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
}

@media ( max-width : 780px) {
	.flatbtn {
		width: 100%;
		height: 35px;
		padding: 0px 1px 2px 1px;
		font-size: 14px;
		color: white;
		border-radius: 3px;
		text-align: center;
		background: #99cf77;
		border: 0;
		cursor: pointer;
		font-family: 'Century Gothic', 'Open Sans', sans-serif;
	}
}

.col-sm-2_5,.col-md-2_5 {
	display: block;
	width: 19.9999999999999%;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

@media ( max-width : 500px) {
	.col-sm-2_5 {
		display: block;
	}
	.col-sm-2_5,.col-md-2_5 {
		display: block;
		padding-left: 0px !important;
		padding-right: 0px !important;
		float: none !important;
		background: white;
	}
	div[style] {
	    background:white;
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	span[style] {
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}

#jafLoadingDiv {
	background: #FFFFFF;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}

#jafLoadingDivL1 {
	background: #FFFFFF;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}

#jafLoadingDivL2 {
	background: #FFFFFF;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}

#jafLoadingDivL3 {
	background: #FFFFFF;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}

#jafLoadingDivL4 {
	background: #FFFFFF;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}

#jafLoadingDivL5 {
	background: #FFFFFF;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =     80);
}
.leftrightmargin{
padding-left:0px;
padding-right:0px;
}


.epiTimerFontSize{
	font-family: 'Century Gothic', 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.epiTimerFontColor{
	color: #b94a48;
}
.circleMendOpt {
    border-radius: 13px;
    background-color:#e2b194;
    text-align: center;
    color: White;
    font-weight: bold;
    width:20px;
    height:20px;
    cursor: pointer;
    padding-right: 1px;
}
.circlegrey {
    border-radius: 13px;
    background-color:grey;
    text-align: center;
    color: White;
    font-weight: bold;
    width:20px;
    height:20px;
    cursor: pointer;
    padding-right: 1px;
}
.circleHead{
    border-radius: 13px;
    background-color:#e2b194;
    text-align: center;
    color: White;
    font-weight: bold;
    width:20px;
    height:20px;
    margin-left:13%;
    padding-right: 1px;
}

/*
css for left and top margin*/
.pleft0 {
	padding-left: 0px;
}
.pleft1 {
	padding-left: 1px;
}

.pleft2 {
	padding-left: 2px;
}

.pleft3 {
	padding-left: 3px;
}
.pleft4 {
	padding-left: 4px;
}

.pleft5 {
	padding-left: 5px;
}

.pleft6 {
	padding-left: 6px;
}

.pleft7 {
	padding-left: 7px;
}

.pleft8 {
	padding-left: 8px;
}

.pleft9 {
	padding-left: 9px;
}

.pleft10 {
	padding-left: 10px;
}

.pleft11 {
	padding-left: 11px;
}

.pleft12 {
	padding-left: 12px;
}

.pleft13 {
	padding-left: 13px;
}

.pleft14 {
	padding-left: 14px;
}

.pleft15 {
	padding-left: 15px;
}

.pleft16 {
	padding-left: 16px;
}

.pleft17 {
	padding-left: 17px;
}

.pleft18 {
	padding-left: 18px;
}

.pleft19 {
	padding-left: 19px;
}

.pleft20 {
	padding-left: 20px;
}

.pleft21 {
	padding-left: 21px;
}

.pleft22 {
	padding-left: 22px;
}

.pleft23 {
	margin-left: 23px;
}

.pleft24 {
	padding-left: 24px;
}

.pleft25 {
	padding-left: 25px;
}

.pleft30 {
	padding-left: 30px;
}
.pleft35 {
	padding-left: 35px;
}
.pleft40 {
	padding-left: 40px;
}
.pleft45 {
	padding-left: 45px;
}
.pleft50 {
	padding-left: 50px;
}
/*    End padding    */


.featureInfo.ellipsis #h6 {
    overflow:hidden;  
    line-height:20px;
    max-height:40px;
}
/*--non web-kit browsers--*/
 .featureInfo.ellipsis a #h6 {
    position:relative;
    line-height:20px;
    
    
    height:40px;
    
}
.featureInfo.ellipsis a #h6::after {	
    content:"...";
    position:absolute;
    bottom:0;
    right:0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(25%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 25%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 25%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 25%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 25%, white);
   
}

.pright0{
	padding-right: 0px; 
}
.pright1{
	padding-right: 10px; 
}
.pright2{
	padding-right: 2px; 
}
.pright3{
	padding-right: 3px; 
}
.pright4{
	padding-right: 4px; 
}
.pright5{
	padding-right: 5px; 
}
.pright6{
	padding-right: 6px; 
}
.pright7{
	padding-right: 7px; 
}
.pright8{
	padding-right: 8px; 
}
.pright9{
	padding-right: 9px; 
}
.pright10{
	padding-right: 10px; 
}
.pright15{
	padding-right: 15px; 
}
.pright20{
	padding-right: 20px; 
}
.pright25{
	padding-right: 25px; 
}
.pright30{
	padding-right: 30px; 
}
.pright35{
	padding-right: 35px; 
}
.pright40{
	padding-right: 40px; 
}
.pright45{
	padding-right: 45px; 
}
.pright50{
	padding-right: 50px; 
}
.pleftright{
	padding-left:0px;
	padding-right: 0px; 
}

/*    For self service grid   */
.gridDivHighLight{
 -moz-box-shadow:    inset 0 0 10px #000;
   -webkit-box-shadow: inset 0 0 10px #000;
   box-shadow:         inset 0 0 3px green;
   insert: 1px 1px #000;
   zoom: 1;
   filter: alpha(opacity=100);
   opacity: 1;
}
.disableControl{
	box-shadow: none;
    opacity: .65;
    cursor: no-drop;
}
.divprofile{
font-weight: bold;
}
.circleNotAllowed {
    border-radius: 13px;
    background-color:#C6C6C6;
    text-align: center;
    color: White;
    font-weight: bold;
    width:20px;
    height:20px;
    cursor: not-allowed;
    padding-right: 1px;
}