.divErrorMsg {
	display: none;
	color: red;
}

.pagingLink {
	text-decoration: none;
}

.pagingLink:hover {
	text-decoration: none;
}

.msgPage {
	margin-top: 100px;
	text-align: center;
}

.txtErrorMsgBG {
	
}

.result {
	font-family: Tahoma, Geneva, sans-serif;
	border-left: 1px solid #AEAEAE;
	border-right: 1px solid #AEAEAE;
	border-bottom: 1px solid #AEAEAE;
	border-collapse: separate; *
	border-collapse: collapse;
	background-color: white;
	border-collapse: collapse;
	clear: both;
	display: none;
	position: relative;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	cursor: pointer;
	z-index:1;
}

#close {
	padding-right: 5px;
	padding-bottom: 5px;
}

.normal {
	padding-left: 2px;
	padding-right: 2px;
	background-color: white;
	border-top: 1px solid #AEAEAE;
}

.over {
	font-family: Tahoma, Geneva, sans-serif;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #494949;
	color: white;
	word-spacing: 0px;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
}

.dragHeader {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 91%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-dialog-titlebar {
	position: relative;
	cursor: move;
}

.ui-widget-header {
	border: 1px solid #aaaaaa /*{borderColorHeader}*/;
	background: #cccccc /*{bgColorHeader}*/  
		url(../images/ui-bg_highlight-soft_75_cccccc_1x100.png)
		/*{bgImgUrlHeader}*/   50% /*{bgHeaderXPos}*/   50% /*{bgHeaderYPos}*/
		  repeat-x /*{bgHeaderRepeat}*/;
	color: #222222 /*{fcHeader}*/;
	font-weight: bold;
}

.tdAct {
	vertical-align: middle;
}
.divScore {
	width: 50px;
	display: none;
	position: absolute;
	top: 33px;	
	right: 00;	
	z-index: 2000;
	width: 480px;	
	height: 480px;
	background: white;
	border: 1px solid;
	border-color:#A1A1A1!important;	
}

.divDesc {
	display: none;
	top: 33px;	
	right: 00;	
	z-index: 2000;
	width: 800px;	
	background: white;
	border: 0px solid;
	border-color:#A1A1A1!important;	
}