.cssCenter{
	text-align: center;
	}
	.titlecolor1
	{
	color:#4D4D4F;
	}
.fontSmall{
	font-size: 8px;
	}
	#toolkitDiv{text-align: center;width: 100%;margin-top: 30px;}
	.toolkitimage{margin-top:-15px;}
	.toolkitEMsgDiv{text-align: center;margin-top:-15px;}
	.MsoListParagraph{width:70%;margin-left:15%;}
	.toolkitEMessage{text-align: center;font-size: 12px;}
	.imagelink{width:100%;margin-top: 25px;margin-left:-10px;}
	.imgmarginlink{margin-bottom:10px;}
	#home{background-color: #F2F2F2;color: #4D4D4F;padding:25px;}
	#videos, #books, #infographics, #worksheets{
	background-color: #F2F2F2;
	color: #4D4D4F;
	/*padding-left:100px;
	padding-right:100px;*/
	}
	.infotoolkitElink{text-align: center;width: 100%;margin-top: 15px;
	padding-left:100px;
	padding-right:100px;
	}
	.infographicssrlink{width: 100%;margin-top: 15px;margin-bottom: 35px;padding-left:100px;}
	
	.infobmargin{
	margin-bottom: 25px;
	/*margin-left:55px;*/
		padding-left:60px;
	}
	.rightDiv{
	
	}
	#home .col-md-6{
	padding-left:20px;
	padding-right:17px;
	font-size: 12px;
	} 
	#videos li, #books li, #infographics li, #worksheets li {  
	color: #007AB4;
	display: block;	
	}
	#videos li:before, #books li:before, #infographics li:before, #worksheets li:before{
	content: list-item;
	}
	#videos ul li:before, #books ul li:before, #infographics ul li:before, #worksheets ul li:before {
  	content:" \2022    ";
	}
	#videos ul p, #books ul p, #infographics ul p, #worksheets ul p{
	/*margin-left:-1em;*/
	margin-bottom:-5px;
	}

	.bcircle{
	margin-top:-5px;
	}
	#home .hfinfo{
	padding-right:5px;
	}
	