body.example
{
	margin: 15px;
	font-family: Century Gothic,Open Sans, sans-serif;
	font-size: 11px;
}

body.example h1
{
	font-size: 1.2em;
}
body.example h2
{
	font-size: 1em;
}

a:hover
{
	text-decoration: none;
}

body.example p.description,
body.example p.sample-links
{
/*	border: thin solid gray; */
	background-color: #d0d0f0;
	padding: 5px;
	font-size: small;
}

p.version-info
{
	color: gray;
	font-size: 0.6em;
}

pre{
  background:#eee;
  border:1px solid #999;
  padding:.5em;
  margin:.5em;
  font-size:.9em;
}
