ul#css3menu,ul#css3menu ul{
	margin:0;list-style:none;}
ul#css3menu{
	background-color:#007fb2;border-width:0;border-style:solid;;}
	ul#css3menu .submenu{
	border-width:0;border-style:solid;;}
ul#css3menu .submenu{
	display:none;position:absolute; z-index:999999; border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;-webkit-border-radius:0;-webkit-border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:0px;padding:0px 0px 0px;}
ul#css3menu li:hover>*{
	display:block;}
ul#css3menu li:hover{
	position:relative;}
ul#css3menu ul .submenu{
	position:absolute;left:100%;top:0;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
ul#css3menu{
	padding:0px 10px 0px 0;display:block;font-size:0;float:left;}
ul#css3menu ul{
	padding:0 0px 0px;}
ul#css3menu .column{
	float:left;}
ul#css3menu li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu>li,ul#css3menu li{
	margin:0 0 0 10px;}
ul#css3menu ul>li{
	margin:1px 0 0;}
ul#css3menu a:active, ul#css3menu a:focus{
	outline-style:none;}
ul#css3menu a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:12px 'Century Gothic','Open Sans', sans-serif;color:#DDDDDD;cursor:default;padding:0px 7px;background-color:#007fb2;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu ul li{
	float:none;margin:0px 0 0;}
ul#css3menu ul a{
    border-right: 10px solid #00658e;
    border-left: 10px solid #00658e;
    border-bottom: 1px solid #007fb2;	
	
	 text-align:left; padding:5px 15px;background-color:#00658e;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:11px 'Century Gothic','Open Sans', sans-serif;color:#DDDDDD;text-decoration:none;}
ul#css3menu li:hover>a{
	background-color:#00658e;border-style:none;color:#EEEEEE;text-decoration:none;}

ul#css3menu img{
	border:none;vertical-align:middle;margin-right:2px;}
ul#css3menu img.over{
	display:none;}
ul#css3menu li:hover > a img.def{
	display:none;}
ul#css3menu li:hover > a img.over{
	display:inline;}
ul#css3menu span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu ul span{
	background-image:url("arrowsub.png");padding-right:24px;}
ul#css3menu ul li:hover>a{
	-webkit-box-shadow: 0px -2px 1px #007fb2;   
    -moz-box-shadow:    0px -2px 1px #007fb2;
    box-shadow:         0px -2px 1px #007fb2;
	cursor:pointer;
	background-color:#007fb2;border-style:solid; border-color:#007fb2; color:#DDDDDD;text-decoration:none;}
ul#css3menu.topmenu{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu li.topmenu>a{
	margin-top: 5px; margin-bottom: 6px;height:34px;line-height:20px;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px; padding-top:6px;}
ul#css3menu li.topmenu:hover>a{
	line-height:20px; cursor:pointer;}
ul#css3menu li.toproot>a{
	margin-top: 5px; height:40px;line-height:26px;border-radius:6px 6px 0 0; padding-top:6px; -moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu li.toproot:hover>a{
	line-height:26px; margin-top: 5px;}
	
	ul#css3menu ul .bl:hover>a{
	-webkit-box-shadow: 0px 0px 0px #3a4e59;   
    -moz-box-shadow:    0px 0px 0px #3a4e59;
    box-shadow:         0px 0px 0px #3a4e59;
	cursor:default; background-color:#00658e;border-style:solid;border-color:#3a4e59;font:11px 'Century Gothic','Open Sans', sans-serif;color:#9fd9b9;text-decoration:none;}
		
	ul#css3menu  .activeText{
	font-weight: bold;
	
	}
	.arrowcolor
	{
	color: #96C335;
	}
	.circlecolor
	{
	color: #00658E;
	}
	