*{
	margin:0;
	padding:0;
}

html{
	/*background:url('../img/bg.jpg') center top repeat-y #202020;*/
	
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	color:#888;
}


/*--------------------------
	Top Bar with Headings
---------------------------*/


h1,h2{
	color: #fff;
	line-height: 1;
	background-color: #222222;
	font-family: 'Segoe UI Light','Segoe UI',Arial,sans-serif;
	font-weight: normal;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -446px;
}

h1{
	font-size: 33px;
	padding: 5px 15px 10px;
	top: 34px;
}

h2{
	font-size: 14px;
	padding: 4px 13px 9px 11px;
	top: 82px;
}

#topBar{
	background:url('../img/top_bar_bg.jpg') repeat-x;
	height:163px;
}


/*-------------------
	Photo area
--------------------*/


#photos{
	margin: 60px auto 100px;
	overflow: hidden;
	width: 880px;
}

#photos:hover a{
	opacity:0.5;
}

#photos a,
#loadMore{
	background-position: center center;
	background-color: rgba(14, 14, 14, 0.3);
	float: left;
	height: 110px;
	margin: 1px 1px 0 0;
	overflow: hidden;
	width: 145px;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#photos a:hover{
	opacity:1;
}

#loadMore{
	cursor: pointer;
	line-height: 110px;
	text-align: center;
	text-transform: uppercase;
	font-size:10px;
}

#loadMore:hover{
	color:#fff;
	text-shadow:0 0 4px #fff;
}


/*----------------------
	Camera slide up
-----------------------*/


#camera{
	background:url('../img/cam_bg.jpg') repeat-y;
	border:1px solid #f0f0f0;
	height:525px;
	width:250px;
	position:fixed;
	bottom: -466px;
	left:50%;
	margin-left:-300px;

	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	
	-moz-box-shadow:0 0 4px rgba(0,0,0,0.6);
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.6);
	box-shadow:0 0 4px rgba(0,0,0,0.6);
}

.camTop{
	background:url('../img/cam.png') no-repeat center center;
	width:100%;
	height:66px;
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
}

.settings{
	background:url('../img/settings.png') no-repeat;
	cursor: pointer;
	height: 28px;
	position: absolute;
	right: 37px;
	top: 448px;
	width: 30px;
}

.settings:hover{
	background-position:left bottom;
}

#screen{
	width:375px;
	height:250px;
	margin: -200 auto auto;
	background:#FFFFFF;
	border:1px dashed gray;
	line-height: 200px;
    text-align: center;
	color:#000000;
}

#picture{
	width:375px;
	margin: auto auto auto;
	background:#FFFFFF;
	border:1px dashed gray;
	line-height: 360px;
    text-align: center;
	color:#000000;
}

.buttonPane{
	text-align: center;
}



.blueButton,
.greenButton{
	background:url('../img/buttons.png') no-repeat;
	text-shadow:1px 1px 1px #277c9b;
	color:#fff !important;
	width:99px;
	height:38px;
	border:none;
	text-decoration:none;
	display:inline-block;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	margin: 0 4px;
}

.greenButton{
	background:url('../img/buttons.png') no-repeat right top;
	text-shadow:1px 1px 1px #498917;
}

.blueButton:hover,
.greenButton:hover{
	background-position:left bottom;
	text-decoration:none !important;
}

.greenButton:hover{
	background-position:right bottom;
}

.blueButton:active,
.greenButton:active{
	position:relative;
	bottom:-1px;
}

.hidden{
	display:none;
}


/*-------------------------
	Generic styles
--------------------------*/


a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}