@charset "utf-8";
/* CSS Document */

.socialicon-Box{ width:85px; float:right!important; padding:0px;}  
.navwdh{ width: 422px;}
.district-wdh { width: 428px!important;}

.right_block{
	margin-top: 0px!important;
}
.calendar { margin-top:-5px;}
.ie20 { margin-top:20px;}


