.custom-menu,.navbar-custom {
background:url(../images/menu.png) no-repeat top center ;/* no-repeat scroll top center #007ab4 */
width:auto;
position:relative;
}

.navbar {
border-radius:0;
border:0;
min-height:29px!important;
position:static!important;
margin:0;
}

.navbar-nav > li {
position:static!important;
padding:0 10px!important;
}

.navbar .nav > li > a {
color:white;
text-transform:capitalize;
font-size:12px;
/*font-family: 'Muli', sans-serif;*/
padding:10.5px 0!important;
padding-bottom:15.5px; 
}

.navbar-nav > li > a:hover,.navbar-nav > li > a:focus,.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
color:#bcbec0 !important;
background:none!important;
border-bottom:4px solid #bcbec0!important;
}

.submenu {
position:relative;
background:#000;
height:13px;
}

.navbar-nav>li>.dropdown-menu {
background:#020c0f;
border:0;
border-radius:0;
min-width:100%;
margin-top:-2px;
padding:7px 0 12px 12px;
}

.navbar-nav>li>.dropdown-menu>li {
float:none;
display:table-cell;
background:url(../images/sqred.png) no-repeat scroll left center transparent!important;
}

.navbar-nav>li>.dropdown-menu>li>a {
font-size:12px;
color:#bcbec0;
/*font-family: 'Muli', sans-serif;*/
}

.navbar-nav>li>.dropdown-menu>li>a:hover {
background:none!important;
}

.navbar-custom .navbar-toggle {
border-color:#ddd;
}

.navbar-custom .navbar-toggle .icon-bar {
background-color:#fff!important;
}

@media min-width 992px and max-width 1199px{
.navbar-nav>li>.dropdown-menu {
padding:20px 0 30px 80px;
}
}

@media min-width 768px and max-width 991px{
.navbar-nav>li>.dropdown-menu {
padding:20px 0 30px 60px;
}

.navbar-nav>li>.dropdown-menu>li>a {
font-size:16px;
}
}

@media max-width 767px{
.navbar-header {
background:url(../images/menu.png) no-repeat scroll top center;
margin-left:-30px!important;
margin-right:-30px!important;
}

.navbar-nav > li:first-child {
border-top:0;
}

.navbar-nav > li {
border-top:1px solid #bcbec0;
}

.navbar-nav>li>.dropdown-menu {
margin-top:0;
padding:20px 0 30px 50px;
}

.navbar-nav > li > a:hover,.navbar-nav > li > a:focus,.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
border-bottom:0!important;
}

.navbar-nav > li > .dropdown-menu {
padding:0!important;
}

.navbar-nav>li>.dropdown-menu>li {
float:none!important;
display:block;
background:url(../images/sqred.png) no-repeat scroll left center transparent!important;
}

.navbar-nav>li>.dropdown-menu>li>a {
font-size:16px;
}

.custom-menu,.navbar-custom,.navbar-collapse {
background:#020c0f;
/*color:white;*/
}
}
.actives
{
	color:#bcbec0;
	background:none!important;
	border-bottom:4px solid #bcbec0!important;
}
.activestext
{
	color:#bcbec0;
}


